body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f7fa;
    padding:40px;
    text-align: center;
}
h1{
    color: #333;
    margin-bottom: 20px;
    
}
input[type="text"]{
    padding:8px 12px;
    width:200px;
    border:1px solid #ccc;
    font-size: 16px;

}
button{
    background-color: #4CAF50;
    margin-left: 6px;
    color: white;

}
ul{
    list-style-type:none;
    text-align: left;
}
li{
    background-color:white;
    border:1px solid #ddd;
    display: flex;
}
.task-text{
    font-size: 16px;
}
.buttons{
    display:flex;
    gap:8px;
}
.tick-btn{
    background-color: #d4edda;
    border:1 px solid #28a745;
    color:#28a745;
    border-radius: 4px;

}
.delete-btn{
    background-color: #f8d7da;
    border:1 px solid #dc3545;
    color:#dc3545;
    border-radius: 4px;

}